*{
    box-sizing: border-box;
}
body{
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
    position: relative; /* ! important*/
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.form-container form{
    background: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    height: 100%;
}
/*
.form-container input{
    border: 1px solid black; 
    padding: 15px 15px;
    margin: 10px 0px;
    width: 100%;
}*/
button{
    margin-top: 15px;
    border-radius: 15px;
    background:black;
    border: 1.5px solid black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    letter-spacing: 1.5px;
    color: white;
}
button:active{
    transform: scale(0.95);
}
button:focus{
    outline: none;
}
button.ghost{
    background: white;
    /*border-color: black;*/
    color: black;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.5s ease-in-out;
}
.sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2;
}
.sign-up-container{
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0; 
}
.overlay-container{
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    z-index: 100;
}
.overlay{
    background: black;
    color: white;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}
.overlay-panel{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}
.overlay-right{
    right: 0;
    transform: translateX(0);
}
.overlay-left{
    transform: translateX(-20%);
}


/* animation explain 
*/
/* sign in to right */
.container.right-panel-active .sign-in-container{
    transform: translateX(100%);
}

/*move overlay to left*/

.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

/* Bring signup over top */

.container.right-panel-active .sign-up-container{
    transform: translateX(100%);
    z-index: 5;
    opacity: 1;
    animation: show 0.5s;

}
@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
.container.right-panel-active .overlay-left{
    transform: translateX(0) ;
}
.container.right-panel-active .overlay-right{
    transform: translateX(20%) ;
}
.MuiFormLabel-root.Mui-focused {
    color: rgb(0, 0, 0) !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: rgb(0, 0, 0) !important;
}

@media (max-width:720px){
    body{
        flex-direction: column;
        margin: 0px;
    }
    p{
        margin: 10px;
        /*line-height: 5px;*/
    }
    .container{
        width: 100vw;
        height: 100vh;
    }
    .form-container form{
        padding: 0px;
    }
    .form-container input{
        margin: 5px 10px;
    }
    button{
        padding: 7px 30px;
    }
    .form-container{
        height: 50%;
        padding-left:20px ;
        padding-right: 20px;
    }
    .sign-in-container{
        width: 100%;
    }
    .sign-up-container{
        width: 100%;
    }
    .overlay-container{
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
    }
    .overlay{
        top: -100%;
        height: 200%;
        width: 100%;
        left: 0;
        transform: translateY(0);
    }
    .overlay-panel{
        flex-direction: column;
        width: 100%;
        height: 50%;
        transform: translateY(0);
    }
    .overlay-right{
        top:50%;
    }
    .overlay-left{
        transform: translateY(-20%);
    }
    .container.right-panel-active .sign-in-container{
        transform: translateY(100%);
    }
    .container.right-panel-active .overlay-container{
        transform: translateY(-100%);
    }
    .container.right-panel-active .sign-up-container{
        transform: translateY(100%);
    }
    .container.right-panel-active .overlay{
        transform: translateY(50%);
    }
    .container.right-panel-active .overlay-left{
        transform: translateY(0);
    }
}